*{
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    background-image: url('background2.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}

nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
   
    
}
nav >ul{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    gap:8rem;
    list-style-type: none;
}

ul > a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-weight:500;
}
ul > a:hover{
    text-decoration: none;
    color:rgb(12, 21, 150);
}

#ideas-last{
    margin-right: 20px;
}

main{
    
    height: 100vh;


}

.studies{
    float: left;
    margin: 50px 70px 100px 70px;
    height: 360px;
    width: 330px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5%;
    background: rgba(255, 255, 255, 0.22);
    
}
      
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        .studies {
          -webkit-backdrop-filter: blur(10px);
          backdrop-filter: saturate(120%) blur(9px);
        }
      }
.studyContent>p{
    text-align: center;
    font-weight: bold;
    margin:0;
    padding: 10px;
    /*background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);*/
    background: rgba(255, 255, 255, 0.14);
    border-radius: 15px;
    
}
.text{
    font-size: 16px;
    color:black;
    

}
.text >ul{
    list-style-type: none;
    margin: 0;
    padding-left: 5px;
    
}
.text >ul >li{
    padding: 8px; 
}
 
code{
    background: rgba(255, 255, 255, 0.25);
    padding: 4px 6px;
    border-radius: 7px;
}
code:hover{
    background: rgba(255, 255, 255, 0.65);
    padding: 4px 6px;
    border-radius: 7px;
}
.moreinfo{
margin-top: 20px;
font-size: 19px;
text-align: center;
color:white;
}

.Description{
margin: 8px;
font-size: 16px;
}
.moreinfo-2{
margin-top: 100px;
font-size: 19px;
text-align: center;
color:white;   
}